.form {
    margin-top: 30px;
    &__inputs {
        display: flex;
        gap: 20px;
    }
    input {
        padding: 20px;
        border: none;
        width: 385px;
        height: 65px;
        border-radius: 5px;
        &::-moz-placeholder {
            font-weight: 300;
            opacity: 0.5;
            font-size: 19px;
            color: #5C5C5C;
        }
        &::-webkit-input-placeholder {
            font-weight: 300;
            font-size: 19px;
            color: #5C5C5C;
            opacity: 0.5;
        }
    }
    &__btn {
        color: #fff;
        Width: 355px;
        Height: 65px;
        background: $black;
        box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
        border-radius: 43px;
        margin: 0 auto;
        margin-top: 30px;
        display: block;
    }
    &_consultation {
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        input {
            height: 57px;
        }
    }
    &__btn_consultation {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: #24173D;
        color: $black;
        margin: 0;
        width: 250px;
        height: 57px;
        background: $orange;
        border-radius: 5px;
    }
}