.investment {
    margin-top: 141px;
    position: relative;
    padding-bottom: 45px;
    &__hr {
        width: 5px;
        height: 263px;
        background: $black;
        position: absolute;
        left: 148px;
        top: 17px;
    }
    &__orange-bg {
        margin: -14px -151px 0 0;
        float: right;
        width: 944px;
        height: 321px;
        background: #FFC633;
        border-radius: 30px 0px 0px 30px;
        padding: 50px;
        color: #fff;
    }
    &__title {
        display: inline-block;
        padding: 31px 0 0 30px;
        text-align: start;
        font-weight: 900;
        font-size: 44px;
        line-height: 77px;
        text-transform: uppercase;
        width: 662px;
        span {
            display: block;
        }
    }
    &__cost {
        display: grid;
        grid-template-columns: 175px 140px 194px;
        column-gap: 116px;
        &-item {
            position: relative;
            height: 210px;
            &:first-child {
                height: 221px;
            }
        }
        &-procent {
            margin: 20px auto;
            text-align: center;
            border: solid 2px #fff;
            border-right: none;
            border-left: none;
            height: 92px;
            font-weight: 800;
            font-size: 70px;
            line-height: 85px;
            color: $black;
            span {
                font-size: 30px;
                line-height: 37px;
            }
        }
        &-header,
        &-footer {
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            text-transform: uppercase;
            span {
                display: block;
            }
        }
        &-footer {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        .procent-one {
            width: 152px;
        }
        .procent-two {
            width: 138px;
        }
        .procent-three {
            width: 185px;
        }
        &-line {
            top: 50%;
            transform: translateY(-50%);
            right: -57px;
            position: absolute;
            width: 2px;
            height: 146px;
            background: #FFFFFF;
            opacity: 0.2;
        }
    }
}