.promo {
    padding-top: 104px;
    // padding-left: 17px;
    height: 738px;
    background: url('../img/promo/promo-bg.jpg') center/cover no-repeat;
    &__wrap {
        display: flex;
        gap: 62px;
    }
    &__info {
        padding-top: 25px;
        width: 655px;
        height: 411px;
        color: #fff;
    }
    &__title {
        font-weight: 800;
        font-size: 67px;
        line-height: 70px;
        text-transform: uppercase;
    }
    &__descr_first {
        margin-top: 14px;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 29px;
        line-height: 70px
    }
    &__hr {
        margin: 30px auto;
        width: 460px;
        height: 2px;
        background: #FFFFFF;
        border-radius: 60%;
    }
    &__subtitle {
        font-weight: 700;
        font-size: 56px;
        line-height: 60px;
    }
    &__descr_second {
        margin-top: 30px;
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;
        .span_first,
        .span_second {
            color: $orange;
            font-weight: 700;
            font-size: 24px;
        }
        .span_first {
            line-height: 33px;
        }
        .span_second {
            margin-top: 10px;
            display: block;
            line-height: 29px;
        }
    }
    &__consultation {
        padding: 50px;
        width: 890px;
        height: 461px;
        background-color: $orange;
        border-radius: 30px;
        box-shadow: 10px 25px 45px rgba(0, 0, 0, 0.15);
        &_title {
            padding-left: 5px;
            text-align: center;
            font-weight: 800;
            font-size: 87px;
            line-height: 106px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: $black;
            span {
                display: block;
                margin-top: -11px;
                font-weight: 400;
                font-size: 29px;
                line-height: 42px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
            }
        }
        &_descr {
            margin-top: 10px;
            text-align: center;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #fff;
        }
    }
}